@use 'components/variables';
@use 'components/colours';
@use 'components/grid';
@use 'components/fonts';

h1 {
    font-size: 6rem;
}

h2 {
    font-size: 4rem;
    text-align: center;
}

#mode-picker {
    font-size: 2.5rem;
    text-align: center;

    .active {
        font-weight: bold;
        ::before {
            content: "» ";
        }
        ::after {
            content: " «";
        }
    }

    a {
        text-decoration: none;
        color: inherit;

        &:hover {
            color: colours.$hover;
        }
    }
}

.button {
    // font-size: 2rem;
    font-weight: bold;
    // border: none;
}

#colour-picker {
    cursor: pointer;
}
