@use 'components/variables';
@use 'components/colours';
@use 'components/grid';
@use 'components/fonts';

body {
    background-image: url("/static/images/tile.png");
}

h1 {
    font-size: 6rem;
}

#mode-picker {
    font-size: 3rem;
    text-align: center;

    .active {
        font-weight: bold;
        ::before {
            content: "» ";
        }
        ::after {
            content: " «";
        }
    }

    a {
        text-decoration: none;
        color: inherit;

        &:hover {
            color: colours.$secondary;
        }
    }
}

.button {
    font-size: 2rem;
    font-weight: bold;
    border: none;
}

#colour-picker {
    cursor: pointer;
}
