@import url("https://fonts.googleapis.com/css2?family=Comic+Neue");

$principal-font: "Comic Neue";
$shim: 1rem;
$huebee-cursor: 0.5rem;
$corner-radius: 10px;

body {
    font-family: $principal-font;
    text-align: center;
    background-color: darken(white, 20%);
    padding: 40px;
    background: url("/static/images/background.jpg");
}

h1 {
    font-size: 3em;
    opacity: 80%;
}

.mode-label {
    font-size: 2em;
    padding: $shim;
    margin: $shim;
    opacity: 80%;
}

.color-picker {
    display: none;
}

.huebee__cursor {
    width: $huebee-cursor;
    height: $huebee-cursor;
}

.huebee {
    display: inline;
}

.huebee__container {
    background: transparent;
    border: 1px black solid;
    background-color: darken(white, 30%);
}

.container {
    display: grid;
    grid-template-columns: 1fr 3fr;
    grid-template-rows: 1fr min-content;
}

.box {
    border-radius: $corner-radius;
    padding: $shim;
}
