@use 'components/variables';
@use 'components/colours';
@use 'components/grid';
@use 'components/fonts';

h1 {
    font-size: 6em;
}

#colour-picker {
    display: flex;
    justify-content: center;
    cursor: pointer;
}

#mode-picker {
    font-size: 3em;
    list-style: none;
    text-align: center;

    span {
        display: block;
    }

    .active {
        font-weight: bold;
        ::before {
            content: "» ";
        }
        ::after {
            content: " «";
        }
    }

    padding-top: variables.$shim;
    padding-bottom: variables.$shim;
}

a {
    text-decoration: none;
    color: inherit;
}

.button {
    font-family: fonts.$default;
    font-size: 2em;
    font-weight: bold;
}

// .rgb {
//     border-bottom: 1px dotted;
// }

// .red {
//     border-color: red;
// }

// .green {
//     border-color: green;
// }

// .blue {
//     border-color: blue;
// }
