$primary:rgb(127, 127, 127);
$hover: lighten($primary, 20%);

body {
    color: $primary;
    background-color: $primary;
    background-image: url('/static/images/checkboard-dark.png');
}

.button {
    color: lighten($primary, 20%);

    &:hover {
        color: $hover !important; // javascript cannot do this wtf
    }
}
