@use 'variables';

* {
    box-sizing: border-box;
}

html {
    overflow: auto; // no scrollbar
}

main {
    display: flex;
    justify-content: center;
    align-items: center;
    min-height: 100vh;
}

#mode-modal-toggle,
#off-switch {
    position: absolute;
    top: variables.$shim;
}

#mode-modal-toggle {
    left: variables.$shim;
}

#off-switch {
    right: variables.$shim;
}
