<script src="https://code.jquery.com/jquery-3.6.0.min.js"
        integrity="sha256-/xUj+3OJU5yExlq6GSYGSHk7tPXikynS7ogEvDej/m4="
        crossorigin="anonymous"></script>

<script src="https://cdn.jsdelivr.net/npm/@jaames/iro@5"></script>

<link rel="stylesheet"
      href="https://cdnjs.cloudflare.com/ajax/libs/csshake/1.5.3/csshake.min.css"
      integrity="sha512-RliK2gk03WxUELn57ddjWLhEfhUiOZ85VvWLImFy8A7FOPMkF4Z9YGQ3VKX5jpwkEerAL6I0nC+JNeCPrxWBTw=="
      crossorigin="anonymous" />

<link rel="stylesheet"
      href="https://cdnjs.cloudflare.com/ajax/libs/bulma/0.9.2/css/bulma.min.css"
      integrity="sha512-byErQdWdTqREz6DLAA9pCnLbdoGGhXfU6gm1c8bkf7F51JVmUBlayGe2A31VpXWQP+eiJ3ilTAZHCR3vmMyybA=="
      crossorigin="anonymous" />

<link rel="stylesheet"
      type="text/css"
      href="{{ url_for('static',filename='css/styles.css') }}">

<link rel="shortcut icon"
      href="{{ url_for('static', filename='favicon.ico') }}">
