{% for import in imports['js'] %}
        <!-- {{ import['name'] }} -->
        <script src="{{ import['url'] }}"
      {%- if "hash" in import %}
                integrity="{{ import['hash'] }}"
      {%- endif %}
                crossorigin="anonymous"></script>
{% endfor -%}

{% for import in imports['css'] %}
        <!-- {{ import['name'] }} -->
        <link rel="stylesheet"
              href="{{ import['url'] }}"
      {%- if "hash" in import %}
              integrity="{{ import['hash'] }}"
      {%- endif %}
              crossorigin="anonymous">
{% endfor -%}
