<script src="https://code.jquery.com/jquery-3.6.0.min.js"
        integrity="sha256-/xUj+3OJU5yExlq6GSYGSHk7tPXikynS7ogEvDej/m4="
        crossorigin="anonymous"></script>

<script src="https://unpkg.com/huebee@2/dist/huebee.pkgd.min.js"></script>

<script src="{{ url_for('static',filename='js/functions.js') }}"></script>

<link rel="stylesheet"
      type="text/css"
      href="https://unpkg.com/huebee@2/dist/huebee.min.css">

<link rel="stylesheet"
      type="text/css"
      href="{{ url_for('static',filename='css/styles.css') }}">

<link rel="shortcut icon"
      href="{{ url_for('static', filename='favicon.ico') }}">
