$primary: lighten(black, 20%);
$grey: darken(white, 50%);
$lightgrey: darken(white, 10%);

body {
    color: $primary;
    background-color: white;
}

.button {
    background-color: $grey;
    color: $lightgrey;
}
