@import url("https://fonts.googleapis.com/css2?family=New+Tegomin");

$primary: "New Tegomin";

body {
    font-family: $primary;
    text-transform: lowercase;
}

.button {
    font-family: $primary;
}
