<!DOCTYPE HTML>
<html>

    <head>
        {% include 'includes/imports.html' %}

        <title>{{title}}</title>
    </head>

    <body>
        {% include 'includes/javascript.html' %}

        <header class="main-head">
            <h1>
                {{title}}
            </h1>
        </header>

        <main>
            <div id="mode-picker">
                {% for mode in modes %}
                <span id="{{ mode['name'] }}-select"><a href='#'
                       class="shake-little mode-select"
                       title="{{ mode['description'] }}"
                       onclick="setMode('{{ mode['name'] }}')">{{ mode['display-name'] }}</a></span>
                {% endfor %}
            </div>

            <div id="colour-picker"></div>
        </main>
        <footer>
            <button class="button"
                    onclick="switchOff()">
                Off
            </button>
        </footer>
    </body>
</html>
