<!DOCTYPE HTML>
<html>

    <head>
        {% include 'includes/imports.html' %}

        <script src="{{ url_for('static', filename='js/light-emitting-desk.js') }}"></script>

        <link rel="stylesheet"
              type="text/css"
              href="{{ url_for('static', filename='css/styles.css') }}">

        <link rel="shortcut icon"
              href="{{ url_for('static', filename='favicon.ico') }}">

        <title>{{title}}</title>
    </head>

    <body>
        {% include 'includes/javascript.html' %}

        <div class="grid">

            <header>
                <h1>
                    {{title}}
                </h1>
            </header>


            <ul id="mode-picker"
                class="picker">
                {% for mode in modes %}
                <li id="{{ mode['name'] }}-select"
                    data-tooltip="{{ mode['description'] }}"
                    class="has-tooltip-right mode-select">
                    <a href='#'
                       onclick="setMode('{{ mode['name'] }}')">{{
                        mode['display-name']
                        }}</a>
                </li>
                {% endfor %}
            </ul>

            <div id="colour-picker"
                 class="picker">
            </div>

            <footer>
                <button class="button"
                        onclick="switchOff()">
                    Off
                </button>
            </footer>

        </div> <!-- close grid -->

    </body>

</html>
