[Unit]
Description=Desk Webserver

[Service]
User=pi
WorkingDirectory=/home/pi/light-emitting-desk/
ExecStartPre=/bin/bash -c "\
    (while ! nc -z -v -w1 localhost 6379 > /dev/null; \
    do \
        echo 'Waiting for port 6379 to open...'; \
        sleep 2; \
    done);"

ExecStart=/bin/bash -lc 'gunicorn -b 0.0.0.0:5000 webserver:app'
Restart=always
StandardInput=null
StandardOutput=file:/var/log/webserver/webserver.log
StandardError=file:/var/log/webserver/webserver.err
KillMode=mixed
TimeoutStopSec=5

[Install]
WantedBy=multi-user.target
