[Unit]
Description=Desk Worker
After=redis-server

[Service]
User=pi
WorkingDirectory=/home/pi/rgb-desk/

ExecStartPre=/bin/bash -c "\
    (while ! nc -z -v -w1 localhost 6379 > /dev/null; \
    do \
        echo 'Waiting for port 6379 to open...'; \
        sleep 2; \
    done);"

ExecStart=/bin/bash -lc 'sudo python worker.py'

Restart=always
StandardInput=null
StandardOutput=file:/var/log/worker/worker.log
StandardError=file:/var/log/worker/worker.err
KillMode=mixed
TimeoutStopSec=5

[Install]
WantedBy=multi-user.target
